<section class="con">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/zahrat-2021.JPG"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">15-9-2022</span>
                <h3 class="title h4">حفله الوعد 2022</h3>
                <p class="description">
                  شارك فريق زهرات بحفله الوعد 2022 بعرض مسرحي و عرض أخر حركي
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/zahrat-2022.jpg"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">2021</span>
                <h3 class="title h4">حفله الوعد 2021</h3>
                <p class="description">
                  شارك فريق كشافين بحفله الوعد 2021 بعرض حركي
                  <br />
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-info">
    <h1 style="text-align: center; padding-bottom: 50px; color: white">
      قاده الفريق
    </h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/mariana.JPG" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">ماريانا</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/marina.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">مرينا عماد</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/merna.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">ميرنا يوسف</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/dina.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">دينا هاني</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/laurine.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">لورين أمين</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/christina.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">كريستينا أيمن</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
