<section class="con">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/kashafeen-2022.JPG"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">15-9-2022</span>
                <h3 class="title h4">حفله الوعد 2022</h3>
                <p class="description">
                  شارك فريق كشافين بحفله الوعد 2022 بعرض مسرحي و عرض أخر حركي
                  <br />
                  حصول 5 كشافين علي رتبه الكشاف الثاني
                  <br />
                  حصول كشافين اثنين علي رتبه الكشاف الأول
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/kashafeen-2021.jpg"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">2021</span>
                <h3 class="title h4">حفله الوعد 2021</h3>
                <p class="description">
                  شارك فريق كشافين بحفله الوعد 2021 بعرض حركي
                  <br />
                  حصول4 كشافين علي رتبه الكشاف الثاني
                  <br />
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/wadi-rayan.jpeg"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">2021</span>
                <h3 class="title h4">معسكر وادي الريان 2021</h3>
                <p class="description">معسكر ترفيهي روحي لانعاش قوه الفريق</p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-info">
    <h1 style="text-align: center; padding-bottom: 50px; color: white">
      قاده الفريق
    </h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/oli.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">أوليفر فادي</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/kero.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">كيرلس جرجس</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/paula.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">بولا صبحي</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/john.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">جون ايهاب</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/tony.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">توني أسامه</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/mina.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">مينا هاني</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/david.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">ديفيد أشرف</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/filo.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">فيلوباتير فؤاد</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
