<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/zaharat-logo.png" />
    </div>
    <div class="contentBx">
      <h2>فريق زهرات</h2>
      <h3>ابذل جهدي</h3>
      <a href="#">يلا بينا</a>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/ashbal-logo.png" />
    </div>
    <div class="contentBx">
      <h2>فريق أشبال</h2>
      <h3>ابذل جهدي</h3>
      <a href="#">يلا بينا</a>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/morshedat-logo.png" />
    </div>
    <div class="contentBx">
      <h2>فريق مرشدات</h2>
      <h3>كن مستعد</h3>
      <a href="#">يلا بينا</a>
    </div>
  </div>

  <div class="card">
    <div class="imgBx">
      <img src="../../../../assets/img/kashafeen-logo.png" />
    </div>
    <div class="contentBx">
      <h2>فريق كشافين</h2>
      <h3>كن مستعد</h3>
      <a href="#">يلا بينا</a>
    </div>
  </div>
</div>
