<section class="con">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="main-timeline">
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/ashbal-2022.JPG"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">15-9-2022</span>
                <h3 class="title h4">حفله الوعد 2022</h3>
                <p class="description">
                  شارك فريق اشبال بحفله الوعد 2022 بعرض مسرحي و عرض حركي
                </p>

                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="timeline-content">
              <div class="circle">
                <span class="homebox">
                  <img
                    src="../../../../assets/img/ashbal-2021.jpg"
                    class="img"
                  />
                </span>
              </div>
              <div class="content">
                <span class="year">2021</span>
                <h3 class="title h4">حفله الوعد 2021</h3>
                <p class="description">
                  شارك فريق كشافين بحفله الوعد 2021 بعرض حركي
                  <br />
                  حصول4 كشافين علي رتبه الكشاف الثاني
                  <br />
                </p>
                <div class="icon"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-info">
    <h1 style="text-align: center; padding-bottom: 50px; color: white">
      قاده الفريق
    </h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/Tato-min.png" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">تادرس فؤاد</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/steven.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">ستيفن نادر</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/mario.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">ماريو جورج</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/paula naderr.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">بولا نادر</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/morcos.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">مرقس عماد</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/arsany.jpg" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">أرساني مجدي</h3>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img src="../../../../assets/img/dp/hesham.JPG" />
          </div>
          <div class="team-content">
            <h3 style="color: white" class="title">هشام</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
